.summaryTable
{
	display:inline-table;
	min-width:350px;
	max-width:350px;
	width:100%;
	float:left;
	height:100%;	
}
.cartTable
{
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#ccc;
	min-width:290px;
	width:70%;
	float:left;
	margin-right:5px;
}

.cart-items-count
{
	display:none;
	position:absolute;
	background:red;
	width:24px;
	height:24px;
	border-radius:50%;
	margin-top:-10px;
	margin-left:-10px;
	font-size:12px;
	font-weight:600;
	line-height:24px;
}

@media screen and (max-width:990px)
{
	.summaryTable
	{
		max-width:100%;
	}	
	.cartTable
	{
		min-width:100%;
		width:100%;		
	}
}
@media screen and (max-width:1300px)
{
	.cartTable
	{
		width:61%;
	}
}
@media screen and (max-width:360px)
{
	.summaryTable
	{
		min-width:310px;
	}
	.cartTable
	{
		margin-right:0px;
	}
}