.info-bar
{
	max-height:64px;
	font-size:14px;
}
.info-bar-icon
{
	margin-left:96px;
	width:32px;
}
.info-bar-cell
{
	padding-right:96px;
}

.cookiesbar
{
	position:fixed; 
	z-index:10; 
	background:#F0F0F0; 
	bottom:0px; 
	left:0px; 
	right:0px; 
	width:100%; 
	height:48px; 
	border-style:solid; 
	border-width:2px 0px 0px 0px; 
	border-color:white;
}

@media screen and (max-width:990px)
{
	.info-bar
	{
		font-size:11px;
	}

	.info-bar-icon
	{
		margin-left:10px;
		width:24px;
	}
	.info-bar-cell
	{
		padding-right:10px;
	}
}
